#banner {
  background-image: url("[#url:assets/bkg.webp]");
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  border-top: solid 20px #17296e;
  border-bottom: solid 20px #ba8e75;
  padding: 10vh 10px;
}
#banner > box {
  width: 700px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#banner > box .motivo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: chocolate;
  padding: 20px;
  border-radius: 40px;
  color: white;
  font-weight: bold;
}
#banner > box .motivo:nth-child(2) {
  font-size: 1.3em;
  background: rgba(26, 137, 96, 0.5490196078);
}
#banner > box .motivo:nth-child(3) {
  font-size: 1.1em;
  background: rgba(16, 112, 159, 0.5215686275);
}
#banner > box .motivo:nth-child(4) {
  font-size: 1.1em;
  background: rgba(129, 69, 34, 0.5098039216);
}